<!doctype html>
<html>
    <head>
        <img src="static/images/banner.jpg">
        <h1>welcome to mobile legends (wordle)</h1>
        <link rel="stylesheet" href="static/style.css">

    </head>
    
    <body>
        <div>
        <h2>Input Guess</h2>
        <form action="{{url_for('index')}}" method="POST">
            <input type="text" name="hero" id="hero">
            <br>
            <input type="submit">
        </form>
        <br><br>
        
        <table id="submission">
            <tr>
                {% for h in headers %}
                <th>{{ h }}</th>
                {% endfor %}
            </tr>
            {% for attempt in range(totalguess|length) %}
            <tr>
                <td>{{ attempt+1 }}</td>
                {% for g in range(0,9) %}
                    {% if g == 2 %}
                        {% if totalcorrects[attempt][g] == True %}
                        <td bgcolor="green">{{ totalguess[attempt][g] }}</td>
                        {% elif totalcorrects[attempt][g] == False %}
                        <td bgcolor="red">{{ totalguess[attempt][g] }}</td>
                        {% else %}
                        <td bgcolor="yellow">{{ totalguess[attempt][g] }}</td>
                        {% endif %}

                    {% elif g == 4 %}
                        {% if totalcorrects[attempt][g] == "higher" %}
                        <td background="{{ url_for('static', filename='images/arrowup.png') }}">{{ totalguess[attempt][g] }}</td>
                        {% elif totalcorrects[attempt][g] == "lower" %}
                        <td background="{{ url_for('static', filename='images/arrowdown.png') }}">{{ totalguess[attempt][g] }}</td>
                        {% else %}
                        <td bgcolor="green">{{ totalguess[attempt][g] }}</td>
                        {% endif %}
                    {% elif totalcorrects[attempt][g] == True %}
                    <td bgcolor="green">{{ totalguess[attempt][g] }}</td>
                    {% else %}
                    <td bgcolor="red">{{ totalguess[attempt][g] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            
        
        </table>
        
        </div>
    </body>
</html>