<!doctype html>
<html>
    <head>
        <img src="static/images/banner.jpg">
        <h1>welcome to mobile legends (wordle)</h1>
        <link rel="stylesheet" href="static/style.css">

    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function doiwin() {
            var guess = document.getElementById("hero").value;
            console.log(guess);
            $.ajax({
                type: "POST",
                url: "/",
                data: JSON.stringify([{"hero": guess}]),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    var guess = result["guess"];
                    var corrects = result["corrects"];
                    var headers = result["headers"];

                    var table = document.getElementById("submission");
                    var row = table.insertRow(1);
                    var attempt = row.insertCell(0);
                    attempt.innerHTML = result["attempt"];
                    
                    // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                    for (var i = 0; i < guess.length; i++) {
                        var cell = row.insertCell(i+1);
                        cell.innerHTML = guess[headers[i]];
                        if (i == 2) {
                            if (corrects[i] == true) {
                                cell.bgColor = "Green";
                            } else if (corrects[i] == false) {
                                cell.bgColor = "Red";
                            } else {
                                cell.bgColor = "Yellow";
                            }
                        } else if (i == 4) {
                            if (corrects[i] == "higher") {
                                cell.background = "{{ url_for('static', filename='images/arrowup.png') }}";
                            } else if (corrects[i] == "lower") {
                                cell.background = "{{ url_for('static', filename='images/arrowdown.png') }}";
                            } else {
                                cell.bgColor = "Green";
                            }
                        } else if (corrects[i] == true) {
                            cell.bgColor = "Green";
                        } else {
                            cell.bgColor = "Red";
                        }
                    }
                    
                } 
            });
        }

    </script>
    <body>
        <div>
        <h2>Input Guess</h2>
        
        <input type="text" name="hero" id="hero"></input>
        <br>
        <input type="submit" onclick="doiwin()">
        </form>
        <br><br>
        
        <table id="submission">
            <tr>
                {% for h in headers %}
                <th>{{ h }}</th>
                {% endfor %}
            </tr>
            {% for attempt in range(totalguess|length) %}
            <tr>
                <td>{{ attempt+1 }}</td>
                {% for g in range(0,9) %}
                    {% if g == 2 %}
                        {% if totalcorrects[attempt][g] == True %}
                        <td bgcolor="green">{{ totalguess[attempt][g] }}</td>
                        {% elif totalcorrects[attempt][g] == False %}
                        <td bgcolor="red">{{ totalguess[attempt][g] }}</td>
                        {% else %}
                        <td bgcolor="yellow">{{ totalguess[attempt][g] }}</td>
                        {% endif %}

                    {% elif g == 4 %}
                        {% if totalcorrects[attempt][g] == "higher" %}
                        <td background="{{ url_for('static', filename='images/arrowup.png') }}">{{ totalguess[attempt][g] }}</td>
                        {% elif totalcorrects[attempt][g] == "lower" %}
                        <td background="{{ url_for('static', filename='images/arrowdown.png') }}">{{ totalguess[attempt][g] }}</td>
                        {% else %}
                        <td bgcolor="green">{{ totalguess[attempt][g] }}</td>
                        {% endif %}
                    {% elif totalcorrects[attempt][g] == True %}
                    <td bgcolor="green">{{ totalguess[attempt][g] }}</td>
                    {% else %}
                    <td bgcolor="red">{{ totalguess[attempt][g] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            
        
        </table>
        
        </div>
    </body>
</html>